<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview To Content Transition | Codrops</title>
    <meta name="description"
        content="An experimental page transition concept for magazines and blogs where an item opens for a full page view.">
    <meta name="keywords" content="page transition, preview, layout, animation, gsap, magazine, magnetic hover">
    <meta name="author" content="Codrops">
    <link rel="icon shortcut" href="favicon.9103058f.ico">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>!function () {
            document.documentElement.className = "js";
            var e, t;
            (t = document.createElement("style")).innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e || alert("Please view this demo in a modern browser that supports CSS Variables.")
        }();</script>
    <script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>
    <script> function setThumbnail(event) { var reader = new FileReader(); reader.onload = function (event) { var img = document.createElement("img"); img.setAttribute("src", event.target.result); document.querySelector("div#image_container").appendChild(img); }; reader.readAsDataURL(event.target.files[0]); } </script>
</head>

<body class="">
    <main>
        <div class="frame">
            <div class="frame__title-wrap">
                <h1 class="frame__title">Preview to Image Denoising</h1>
                <p class="frame__tagline">Provides information on noise cancellation where a
                    preview item opens for a full page view.</p>
            </div>
            <nav class="frame__links">
                <a href="https://www.notion.so/Main-Page-a8dceb27c07247ffa71c2d029b05ca05">Notion</a>
                <a href="https://github.com/Uheeking">GitHub</a>
            </nav>
        </div>
        <section class="items">
            <img src="{{ url_for('static', filename='img_invert/'+name+'.jpg') }}" alt=" ">
        </section>
        <form action="http://localhost:8000/index_home" method="POST" enctype="multipart/form-data">
            <input type="submit" id="home" value="home">
        </form>
        <div class="frame frame--footer">
            <p>Edit <a href="#">Uheeking</a></p>
            <p><a href="https://twitter.com/codrops">@codrops</a> 2021</p>
        </div>
    </main> <svg class="cursor" width="80" height="80">
        <circle class="cursor__inner" cx="40" cy="40" r="20" />
    </svg>
    <script src="{{ url_for('static', filename='js/index.6d569464.js') }}"></script>
</body>

</html>